resources/*
resources-v2.0/*
resources-v3/*
AutoBoost/target
AutoBoost/.idea/*
AutoBoost/logs/*
AutoBoost/log/*
TestInspector/*
.DS_Store
*.log
*.sh
AutoBoost/src/main/resources/log4j2.xml
AutoBoost/dependency-reduced-pom.xml

AutoBoost/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker

AutoBoost/backup/

AutoBoost/log4j-core-2.17.1.jar

AutoBoost/test-dependencies/byte-buddy-1.12.16.jar

AutoBoost/test-dependencies/byte-buddy-agent-1.12.16.jar

AutoBoost/test-dependencies/mockito-core-4.8.1.jar

AutoBoost/test-dependencies/mockito-inline-4.8.1.jar

AutoBoost/test-dependencies/objenesis-3.2.jar

AutoBoost/test-dependencies/
